String Methods

In [3]:
string = "hello"
processed_string = string.upper()
print(processed_string)

HELLO

Spliting And Joining

In [5]:
prompt = "Write a Python program that takes a string as input and returns the string with all characters in uppercase."
tokens = prompt.split()
print(tokens)

sentence = "-".join(tokens)
print(sentence)

['Write', 'a', 'Python', 'program', 'that', 'takes', 'a', 'string', 'as', 'input', 'and', 'returns', 'the', 'string', 'with', 'all', 'characters', 'in', 'uppercase.']
Write-a-Python-program-that-takes-a-string-as-input-and-returns-the-string-with-all-characters-in-uppercase.

 Formatted String

In [7]:
name = "Raihan"
age = 22
height = 5.11
print(f"Hello, My name is {name}. I am {age} years old and my height is {height} feet tall.")

Hello, My name is Raihan. I am 22 years old and my height is 5.11 feet tall.

 List and List Methods

In [10]:
numbers = [1, 2, 3, 4, 5]
print(numbers[2])
numbers[2]=10
print(numbers)

3
[1, 2, 10, 4, 5]

Declaration

In [ ]:
###(1d list)
numbers = [1, 2, 3, 4, 5]
float_numbers = [1.1, 2.2, 3.3]
fruits = ["apple", "banana", "cherry"]
mix = [1, 3.3, "apple"]
print(mix)

###double list methods(2d list)

list_er_moddhe_list =[[100,23,45],[23,45,67],[34,56,78]]
print(list_er_moddhe_list)

[1, 3.3, 'apple']
[[100, 23, 45], [23, 45, 67], [34, 56, 78]]