### basic arithemic operation

In [2]:
a= 10
b=5
sum_r= a + b
sub= a - b
prod= a * b
div= a / b
print("Sum: ", sum_r)
print(f"Sum: {sum_r}, Difference: {sub}, Multiplication: {prod}, and Division: {div}")

Sum:  15
Sum: 15, Difference: 5, Multiplication: 50, and Division: 2.0

In [5]:
base = 2
exp = 3
print(pow(base, exp))  #power function 2^3
c=7
d=2
#modulus
print("mod: ",c % d)
print("div: ", c / d) 
print("floor(int) div: ", c // d)

8
mod:  1
div:  3.5
floor(int) div:  3

In [6]:
num=-7.5
num2=2.8
print("Absolute: ",abs(num))
print("num1 round", round(num))
print("num2 round", round(num2))

Absolute:  7.5
num1 round -8
num2 round 3

In [8]:
import math
sqrt= math.sqrt(16)
print("Square root: ", sqrt)
print("Factorial: ", math.factorial(5))
print("sin 30: " , math.sin(math.radians(30)))

Square root:  4.0
Factorial:  120
sin 30:  0.49999999999999994

In [9]:
#object type
print(type(a))
print(type(num))

<class 'int'>
<class 'float'>

### string

In [15]:
str1= "Hello"
str2= "Class"

#concate
message = str1 + " " + str2
print(message)
print(len(message))

#slicing
substr= message[2:7]
print("sub: ", substr)

#find substring
index = message.find("Class")
print("ind: ", index)

#replace
new_text = message.replace("Class", "Data Structure")
print("new: ", new_text)
print(len(new_text))

Hello Class
11
sub:  llo C
ind:  6
new:  Hello Data Structure
20

In [19]:
#split
word= new_text.split()
print("word: ", word)
print(len(word))
text = "apple, banana, orange, grapes"
fruits = text.split(", ")
print("fruits: ", fruits)

#add new word to list
fruits.append("mango")
print(fruits)
print(fruits[0])

word:  ['Hello', 'Data', 'Structure']
3
fruits:  ['apple', 'banana', 'orange', 'grapes']
['apple', 'banana', 'orange', 'grapes', 'mango']
apple

In [ ]:
fruits.insert(0, "berry")
fruits

['berry', 'berry', 'apple', 'banana', 'orange', 'grapes', 'berry', 'mango']

In [30]:
#only nunique values
print(set(fruits))
print(sorted(fruits))
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)       
print(fruits.count("berry"))
print(fruits[4].count("r"))
print(fruits.pop(2))
print(fruits)

{'berry', 'banana', 'apple', 'mango', 'orange'}
['apple', 'banana', 'berry', 'berry', 'berry', 'mango', 'orange']
['apple', 'banana', 'berry', 'berry', 'berry', 'mango', 'orange']
['orange', 'mango', 'berry', 'berry', 'berry', 'banana', 'apple']
3
2
berry
['orange', 'mango', 'berry', 'berry', 'banana', 'apple']

### loop

In [ ]:
#starting from 0
for i in range(5):
    print(i, end=' ')
print()
#starting from other point
for i in range(2, 10):
    print(i, end=' ')

0 1 2 3 4
2 3 4 5 6 7 8 9

In [ ]:
#starting from other point and increment by 2
for i in range(2, 10, 2):
    print(i, end=' ')
print()
#decrement
for i in range(10, 0, -1):
    print(i, end=' ')

2 4 6 8
10 9 8 7 6 5 4 3 2 1

In [41]:
#print only even number between range 0-20
for i in range(20):
    if i % 2 == 0:
        print(i, end=' ')
print()
#print only number that are multiple of 3
for i in range(20):
    if i % 3 == 0:
        print(i, end=' ')

0 2 4 6 8 10 12 14 16 18
0 3 6 9 12 15 18

In [52]:
print(fruits)
sum_r=0
for f in fruits:
    print(f) 
    sum_r += f.count('r')
print(sum_r)

['orange', 'mango', 'berry', 'berry', 'banana', 'apple']
orange
mango
berry
berry
banana
apple
5

In [45]:
srt="sdjahjg"
for ch in srt:
    print(ch)

s
d
j
a
h
j
g